.header {
  background-color: #3490dc;
}

a {
  text-decoration: none;
}

.image-box {
  padding-bottom: 100%;
  position: relative;
}

.image-box > img {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.image-box > img.contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.image-box > img.cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.signup-container,
.login-container {
  display: none;
  opacity: 0;
}

.signup-container.opened,
.login-container.opened {
  display: block;
  opacity: 1;
}

.login-container.opened {
  -webkit-animation: fadeRight .3s cubic-bezier(0, 0, .2, 1);
          animation: fadeRight .3s cubic-bezier(0, 0, .2, 1);
}

.signup-container.opened {
  -webkit-animation: fadeLeft .3s cubic-bezier(0, 0, .2, 1);
          animation: fadeLeft .3s cubic-bezier(0, 0, .2, 1);
}

@-webkit-keyframes fadeRight {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeRight {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fadeLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

/**************************\
  Basic Modal Styles
\**************************/

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__container {
  background-color: #fff;
  padding: 30px;
  max-width: 500px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

.modal__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal__close {
  background: transparent;
  border: 0;
  position: absolute;
  top: 30px;
  right: 30px;
}

.modal__header .modal__close:before {
  content: "\2715";
}

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, .8);
}

.modal__btn {
  font-size: .875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, .8);
  border-radius: .25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
     text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  transition: -webkit-transform .25s ease-out;
  -webkit-transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out, -webkit-transform .25s ease-out;
}

.modal__btn:focus,
.modal__btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.modal__btn-primary {
  background-color: #00449e;
  color: #fff;
}

/**************************\
  Demo Animation Style
\**************************/

@-webkit-keyframes mmfadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes mmfadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes mmfadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@-webkit-keyframes mmslideIn {
  from {
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
  }

  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes mmslideIn {
  from {
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
  }

  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes mmslideOut {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  to {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}

@keyframes mmslideOut {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  to {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  -webkit-animation: mmfadeIn .3s cubic-bezier(0, 0, .2, 1);
          animation: mmfadeIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  -webkit-animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
          animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  -webkit-animation: mmfadeOut .3s cubic-bezier(0, 0, .2, 1);
          animation: mmfadeOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  -webkit-animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
          animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

.map-container {
  height: calc(100vh - 65px);
}

.search-result-container {
  top: 34px;
  z-index: 1;
  max-height: 300px;
  overflow: auto;
}

.street-detail-container .jconfirm-box {
  padding: 0;
}

.street-detail-container .jconfirm-box .jconfirm-buttons {
  padding: 0 15px 15px;
}

.cover-container {
  height: 180px;
  overflow: hidden;
}

.avatar-container {
  margin-top: -54px;
  width: 108px;
}

.information-container .map-container {
  height: 480px;
}

.image-item-container {
  position: relative;
  overflow: hidden;
}

.image-item-container .image-title-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #25233d;
  background: -webkit-gradient(linear, left bottom, left top, from(#25233d), color-stop(60%, rgba(37, 35, 61, .84107)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, #25233d 0%, rgba(37, 35, 61, .84107) 60%, rgba(0, 0, 0, 0) 100%);
}

.image-item-container .image-title-container .image-title {
  margin: 0;
  font-size: 10px;
  color: #fff;
}

.image-item-container .action-container {
  position: absolute;
  top: 5px;
  right: 5px;
}

.image-item-container:hover img {
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

iframe#player {
  width: 100%;
  border: none;
}

.video-item {
  -ms-flex-preferred-size: 120px;
      flex-basis: 120px;
  max-width: 120px;
  border: 8px solid transparent;
  margin: 4px;
  cursor: pointer;
}

.video-item.active {
  border-color: #ef5753;
}
