@import '../modal';
@import './modal';
@import './bridge';
@import './dashboard';

.map-container {
  height: 480px;
}
.delete-menu {
  position: absolute;
  background: white;
  padding: 3px;
  color: #666;
  font-weight: bold;
  border: 1px solid #999;
  font-family: sans-serif;
  font-size: 12px;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, .3);
  margin-top: -10px;
  margin-left: 10px;
  cursor: pointer;
}
.delete-menu:hover {
  background: #eee;
}
.reverse-path {
  margin-top: 30px;
}
.map-buttons-container {
  margin-bottom: 5px;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
}
.image-item-container {
  flex-basis: 150px;
  position: relative;
  margin-left: 5px;
  margin-bottom: 5px;

  .image-title-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px;
    .image-title {
      margin: 0;
      font-size: 10px;
      color: #fff;
    }
  }

  .image-box {
    width: 100%;
  }

  .action-container {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}

.image-box {
  padding-bottom: 100%;
  position: relative;
  background-color: #666;

  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
  }
}