.bridges-container {
  margin-bottom: 15px;
  .bridge-item-container {
    padding: 10px 15px;
    position: relative;
    border-radius: 5px;

    transition: all 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
    
    .action-group {
      opacity: 0;
    }

    &:hover {
      background-color: darken(#fff, 5%);
      .action-group {
        opacity: 1;
      }
    }
  }
}

.detail-container {
  table {
    tr {
      th {
        vertical-align: middle;
        text-align: center;
      }
    }
  }
}