// Variables
@import 'variables';

.header {
  background-color: $blue;
}

a {
  text-decoration: none;
}

@import 'components';
@import 'auth';
@import 'modal';
@import 'home';
@import 'street';
@import 'videos';