.signup-container,
.login-container {
  display: none;
  opacity: 0;

  &.opened {
    display: block;
    opacity: 1;
  }
}

.login-container {
  &.opened {
    animation: fadeRight .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }
}
.signup-container {
  &.opened {
    animation: fadeLeft .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }
}

@keyframes fadeRight {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}