.image-box {
  padding-bottom: 100%;
  position: relative;

  > img {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    transition: all 500ms ease-in-out;

    &.contain {
      object-fit: contain;
    }

    &.cover {
      object-fit: cover;
    }
  }
}