.map-container {
  height: calc(100vh - 65px);
}

.search-result-container {
  top: 34px;
  z-index: 1;
  max-height: 300px;
  overflow: auto;
}

.street-detail-container {
  .jconfirm-box {
    padding: 0;
    .jconfirm-buttons {
      padding: 0 15px 15px;
    }
  }
}