.cover-container {
  height: 180px;
  overflow: hidden;
}

.avatar-container {
  margin-top: -54px;
  width: 108px;
}

.information-container {
  .map-container {
    height: 480px;
  }
}

.image-item-container {
  position: relative;
  overflow: hidden;

  .image-title-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(37,35,61);
    background: linear-gradient(0deg, rgba(37,35,61,1) 0%, rgba(37,35,61,0.8410701308139534) 60%, rgba(0,0,0,0) 100%);
    .image-title {
      margin: 0;
      font-size: 10px;
      color: #fff;
    }
  }

  .action-container {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  &:hover {
    img {
      transition: all 500ms ease-in-out;
      transform: scale(1.05);
    }
  }
}