// Font Awesome
$fa-font-path: '../webfonts' !default;
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';

// Bootstrap
@import '~tailwindcss/preflight';
@import '~tailwindcss/components';
@import '~tailwindcss/utilities';

@responsive {
  .border-box {
    box-sizing: border-box;
  }
  .content-box {
    box-sizing: content-box;
  }
}