iframe#player {
  width: 100%;
  border: none;
}

.video-item {
  flex-basis: 120px;
  max-width: 120px;
  border: 8px solid transparent;
  margin: 4px;
  cursor: pointer;

  &.active {
    border-color: #EF5753;
  }
}